@font-face {
    font-family: 'Proxima Nova';
    src: 
    url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'Proxima Nova';
        src: 
        url('fonts/ProximaNova-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        }


body{
    margin: 0;
    font-size: 14px;
    font-family: 'Proxima Nova',sans-serif;
    color: #9d9d9d;

}
*{
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 80px;
    letter-spacing: - 0,36em;
  
}
.container > *{
    letter-spacing: normal;
}
.col{
    display: inline-block;
    width: calc(33.3% - 20px);
    padding: 40px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    text-align: center;

}
.col:first-child{
    margin-left:0;
   
}
.col:last-child{
    
    margin-right: 0;
}
.col__title{
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}
.col__text{
font-weight: 300;
overflow-wrap: break-word;
word-break: break-all;


}
.btn{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #1275b9;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;

}
img.hover{
    display: none;
}
.btn:hover{
    background-color: #ffffff;
    border:1px solid #1275b9;
}    
.btn:hover img{
    display: none;
}
.btn:hover img.hover{
    display: inline-block;
}